
.nav.navbar-nav{
	background-color: #333;
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	height: 100%;
	width: 70px;
	vertical-align: baseline;
	ul{
		top: 20%;
		position:relative;
		display: block;
		li{
			text-align: center;
			padding: 50px 0;
			-webkit-transition: all 1s ease; 
		    -moz-transition: all 1s ease; 
		    -ms-transition: all 1s ease; 
		    -o-transition: all 1s ease; 
		    transition: all 1s ease;
			&:hover{
				-webkit-transform: scale(1.10);
				-moz-transform: scale(1.10);
				-ms-transform: scale(1.10);
				-o-transform: scale(1.10);
				transform: scale(1.10);
			}
			i{
			 	color: #fff;
			 	font-size: 2em;	
			}
			a{font-weight:600;}
		}
	}
}
.main-view-container{
	padding-left: 100px;
	max-width: 1200px;
	margin: 0 auto;
}