.nav{
	background-color: #333;
	margin: 0;
	padding: 0;
	display: block;
	position: fixed;
	height: 100%;
	width: 70px;
	vertical-align: baseline;
	ul{
		border:1px solid red;
		display: block;
		li{
			text-align: center;
			border:1px solid red;
			 padding: 30px 0;
			i{
			 color: #fff;
			 font-size: 2em;	
			}
			
		}
	}
}
.main-container{
	padding-left: 100px;
	max-width: 1200px;
	margin: 0 auto;
}