<div class="nav">
	<ul>
		<li><i class="icon-note"></i></li>
		<li><i class="icon-code"></i></li>
		<li><i class="icon-code"></i></li>
		<li><i class="icon-code"></i></li>
	</ul>
</div>
<div class="main-container">
	<div ng-view=""></div>
</div>