<div class="container">

<label for="editorId" class="label">javaScript</label>
<div id="editor"></div>
</div>

<div class="coders-nav-bar">
  <ul>
    <div class="brand" style="background-color:#333;color:#fff!important;">codeFree</div>
  <li><a>option1</a></li> 
  <li><a>option2</a></li> 
  <li><a>option3</a></li> 
  <li><a>option4</a></li> 
  <li><a>option5</a></li> 
  <li><a>option6</a></li> 
  <li><a>option7</a></li>
  <li><a>option8</a></li> 
  <li><a>option9</a></li>
  </ul>   
</div>

<script type="text/javascript">

    var textarea = $('textarea[name="html"]');
    textarea.hide();
    var view = $('#view');
    var editor = ace.edit("editor");
    editorSetup();

   function editorSetup(){
       //set font size
    document.getElementById('editor').style.fontSize="14px";
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/html");
    editor.getSession().setUseWrapMode(true);
    editor.setHighlightActiveLine(true);
    editor.setShowPrintMargin(false);  
    editor.getSession().on('change', function () {
    view.contents().find('body').html(editor.getSession().getValue());
     });

  }
</script>

