<div class="wrapper">
  <section ng-controller="AceCtrl">
    <select ng-model="mode" ng-options="m for m in modes" ng-change="modeChanged()" autofocus="0"></select> 
   <!--  <p class="editor-label">{{mode}}</p> -->
    <div ui-ace="aceOption" ng-model="aceModel" class="ace_editor"></div>
  </section>
</div>
<!-- footer nav -->
<div class="coders-nav-bar">
  <ul>
    <div class="brand"><a href="/">codeFree</a></div>
  <li><a>option1</a></li> 
  <li><a>option2</a></li> 
  <li><a>option3</a></li> 
  <li><a>option4</a></li> 
  <li><a>option5</a></li> 
  <li><a>option6</a></li> 
  <li><a>option7</a></li>
  <li><a>option8</a></li> 
  <li><a>option9</a></li>
  </ul>   
</div>

