<nav class="nav navbar-nav" role="navigation">
    <ul >
      <li><a href="/"><i class="icon-note"></i></a></li>
	  <li><a href="/one"><i class="icon-code"></i></a></li>
	  <li><a href="/two"><i class="icon-code"></i>code</a></li>
	  <li><a href="/sign-up"><i class="icon-user-add"></i>Sign-up</a></li>
    </ul>
</nav>