<div class="row">
  <div class="centered six columns">
    <fieldset style="border:2px solid #dbdbdb; margin-top:50%;z-index:-1;">
  <legend style="background:#000;z-index:1;color:#fff;font-weight:900; padding:4px;">Sign up and help others</legend>
  <ul>
    <li class="field" style="margin-top:10px;">
      <label class="inline" for="text1">Label 1</label>
      <input class="wide text input" id="text1" type="text" placeholder="wide input" />
    </li>
    <li class="field">
      <label class="inline" for="text2">Label 2</label>
      <input class="wide password input" id="text2" type="password" placeholder="wide input" />
    </li>
  </ul>
</fieldset>
  </div>
</div>